%header.header
  =render 'shared/top-header'

.header-img
  %img{alt: "index_01", src: "assets/index_01",}

.main-content
  .pickup-container
    .pickup-header
      %h2.pickup-header__name
        人気のカテゴリ
      .pickup-header__categoly
        %ul
          %li
            シャネル
          %li
            ルイヴィトン
          %li
            シュプリーム
  .content  
    .content__title シャネル新着アイテム
    .view-all もっとみる>
    .content__box 
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/item/detail/orig/photos/m40999492323_1.jpg?1572230260", alt: "", height: "188", width: "188"
          .item__text
            .item__text__name キテレツ大百科
            .item__text__num  
              .item__text__num--price ¥7,000
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/item/detail/orig/photos/m40999492323_1.jpg?1572230260", alt: "", height: "188", width: "188"
          .item__text
            .item__text__name パーマン
            .item__text__num  
              .item__text__num--price ¥7,000
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/item/detail/orig/photos/m40999492323_1.jpg?1572230260", alt: "", height: "188", width: "188"
          .item__text
            .item__text__name モジャ公
            .item__text__num  
              .item__text__num--price ¥7,000
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/item/detail/orig/photos/m40999492323_1.jpg?1572230260", alt: "", height: "188", width: "188"
          .item__text
            .item__text__name お化けのQ太郎
            .item__text__num  
              .item__text__num--price ¥7,000
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/item/detail/orig/photos/m40999492323_1.jpg?1572230260", alt: "", height: "188", width: "188"
          .item__text
            .item__text__name パラソルへんベェ
            .item__text__num  
              .item__text__num--price ¥7,000
  .content  
    .content__title ルイヴィトン新着アイテム
    .view-all もっとみる>
    .content__box 
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/item/detail/orig/photos/m40999492323_1.jpg?1572230260", alt: "", height: "188", width: "188"
          .item__text
            .item__text__name ドラえもん
            .item__text__num  
              .item__text__num--price ¥7,000
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/item/detail/orig/photos/m40999492323_1.jpg?1572230260", alt: "", height: "188", width: "188"
          .item__text
            .item__text__name のび太
            .item__text__num  
              .item__text__num--price ¥7,000
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/item/detail/orig/photos/m40999492323_1.jpg?1572230260", alt: "", height: "188", width: "188"
          .item__text
            .item__text__name スネ夫
            .item__text__num  
              .item__text__num--price ¥7,000
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/item/detail/orig/photos/m40999492323_1.jpg?1572230260", alt: "", height: "188", width: "188"
          .item__text
            .item__text__name ジャイアン
            .item__text__num  
              .item__text__num--price ¥7,000
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/item/detail/orig/photos/m40999492323_1.jpg?1572230260", alt: "", height: "188", width: "188"
          .item__text
            .item__text__name しずか
            .item__text__num  
              .item__text__num--price ¥7,000
  .content  
    .content__title シュプリーム新着アイテム
    .view-all もっとみる>
    .content__box 
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/item/detail/orig/photos/m40999492323_1.jpg?1572230260", alt: "", height: "188", width: "188"
          .item__text
            .item__text__name 野比のび太
            .item__text__num  
              .item__text__num--price ¥7,000
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/item/detail/orig/photos/m40999492323_1.jpg?1572230260", alt: "", height: "188", width: "188"
          .item__text
            .item__text__name 骨川スネ夫
            .item__text__num  
              .item__text__num--price ¥7,000
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/item/detail/orig/photos/m40999492323_1.jpg?1572230260", alt: "", height: "188", width: "188"
          .item__text
            .item__text__name 剛田武
            .item__text__num  
              .item__text__num--price ¥7,000
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/item/detail/orig/photos/m40999492323_1.jpg?1572230260", alt: "", height: "188", width: "188"
          .item__text
            .item__text__name 源静香
            .item__text__num  
              .item__text__num--price ¥7,000
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/item/detail/orig/photos/m40999492323_1.jpg?1572230260", alt: "", height: "188", width: "188"
          .item__text
            .item__text__name ドラミちゃん
            .item__text__num  
              .item__text__num--price ¥7,000

.footer-img
  %img{alt: "index_02", src: "assets/index_02",}

.footer
  =render 'shared/top-footer'
.footer-self-btn
  出品
  %br
  = fa_icon 'camera',class:"camera"