%header.header
  =render 'shared/top-header'

.header-img
  = image_tag "index_01.png"

.main-content
  .pickup-container
    .pickup-header
      %h2.pickup-header__name
        人気のカテゴリ
      .pickup-header__categoly
        %ul
          %li
            シャネル
          %li
            ルイヴィトン
          %li
            シュプリーム
  .content  
    .content__title 新着アイテム
    .view-all もっとみる>
    .content__box 
    - @items.each do |i| 
      .item 
        =link_to "" do
          .item__image
            = image_tag i.images.first.image.url, size:"200x200"
          .item__text
            .item__text__name 
              = i.name
            .item__text__num  
              .item__text__num--price
                ¥
                = i.price
  .content  
    .content__title ルイヴィトン新着アイテム
    .view-all もっとみる>
    .content__box 
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/item/detail/orig/photos/m40999492323_1.jpg?1572230260", alt: "", height: "188", width: "188"
          .item__text
            .item__text__name ドラえもん
            .item__text__num  
              .item__text__num--price ¥7,000
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/item/detail/orig/photos/m40999492323_1.jpg?1572230260", alt: "", height: "188", width: "188"
          .item__text
            .item__text__name のび太
            .item__text__num  
              .item__text__num--price ¥7,000
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/item/detail/orig/photos/m40999492323_1.jpg?1572230260", alt: "", height: "188", width: "188"
          .item__text
            .item__text__name スネ夫
            .item__text__num  
              .item__text__num--price ¥7,000
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/item/detail/orig/photos/m40999492323_1.jpg?1572230260", alt: "", height: "188", width: "188"
          .item__text
            .item__text__name ジャイアン
            .item__text__num  
              .item__text__num--price ¥7,000
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/item/detail/orig/photos/m40999492323_1.jpg?1572230260", alt: "", height: "188", width: "188"
          .item__text
            .item__text__name しずか
            .item__text__num  
              .item__text__num--price ¥7,000
  .content  
    .content__title シュプリーム新着アイテム
    .view-all もっとみる>
    .content__box 
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/item/detail/orig/photos/m40999492323_1.jpg?1572230260", alt: "", height: "188", width: "188"
          .item__text
            .item__text__name 野比のび太
            .item__text__num  
              .item__text__num--price ¥7,000
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/item/detail/orig/photos/m40999492323_1.jpg?1572230260", alt: "", height: "188", width: "188"
          .item__text
            .item__text__name 骨川スネ夫
            .item__text__num  
              .item__text__num--price ¥7,000
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/item/detail/orig/photos/m40999492323_1.jpg?1572230260", alt: "", height: "188", width: "188"
          .item__text
            .item__text__name 剛田武
            .item__text__num  
              .item__text__num--price ¥7,000
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/item/detail/orig/photos/m40999492323_1.jpg?1572230260", alt: "", height: "188", width: "188"
          .item__text
            .item__text__name 源静香
            .item__text__num  
              .item__text__num--price ¥7,000
      .item 
        =link_to root_path do
          .item__image
          = image_tag "https://static.mercdn.net/item/detail/orig/photos/m40999492323_1.jpg?1572230260", alt: "", height: "188", width: "188"
          .item__text
            .item__text__name ドラミちゃん
            .item__text__num  
              .item__text__num--price ¥7,000

=render 'shared/top-footerimg'
.footer
  =render 'shared/top-footer'
  =link_to '出品', new_item_path, class: 'footer-self-btn' 
  =link_to new_item_path, class: 'footer-self-btn-camera' do
    = fa_icon 'camera'