.main_contents
  .main_contents__box
    .main_contents__box__contents
      .main_contents__box__contents__title_box
        .main_contents__box__contents__title_box__title
          %h2
            = "'#{params[:search]}' の検索結果"
      .main_contents__box__contents__items
        - @items.each do |item|
          .main_contents__box__contents__items__one
            = image_tag item.images.last.image.url, width: "188px", height: "188px"
            .main_contents__box__contents__items__one__image__price
              = "¥#{item.price}"
            .main_contents__box__contents__items__one__title
              %span
                = link_to "items/#{item[:item_id]}", method: :get do
                  = item.name
