.km-header
  = render 'shared/km-header'
  .km-sign-up__bar
    %ol.progress-bar.clearfix
      %li.progress-text.active
        会員情報
        .progress-status.active
          .progress-status-bar
      %li.progress-text
        電話番号認証
        .progress-status
          .progress-status-bar-step2
      %li.progress-text
        お届け先住所入力
        .progress-status
          .progress-status-bar-step3
      %li.progress-text
        支払い方法
        .progress-status
          .progress-status-bar-step4
      %li.progress-text
        完了
        .progress-status
.km-main
  .km-main__container
    .km-head__title
      会員情報入力
    .km-ragistration-form__inner
      .km-form__wrapper
        = form_for @user, url: step2_signup_index_path, method: :post do |f|
          .km-form__container
            %label{class: "km-label"}
              ニックネーム
            .km-form-require
              必須
            -# %input{class: "km-form", placeholder: "例) メルカリ太郎"}
            = f.text_field :nickname, placeholder: "例) メルカリ太郎", class: "km-form"
          .km-form__container
            %label{class: "km-label"}
              メールアドレス
            .km-form-require
              必須
            -# %input{class: "km-form", placeholder: "PC・携帯どちらでも可"}
            = f.text_field :email, placeholder: "PC・携帯どちらでも可", class: "km-form"
          .km-form__container
            %label{class: "km-label"}
              パスワード
            .km-form-require
              必須
            -# %input{class: "km-form", placeholder: "7文字以上"}
            = f.password_field :password, placeholder: "7文字以上", class: "km-form"
          .km-form__container
            %label{class: "km-label"}
              パスワード(確認)
            .km-form-require
              必須
            -# %input{class: "km-form", placeholder: "7文字以上"}
            = f.password_field :password_confirmation, placeholder: "7文字以上", class: "km-form"
          .km-form__container
            .km-form__info-title
              本人確認
            .km-form__info-text
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .km-form__container
            %label{class: "km-label"}
              お名前(全角)
            .km-form-require
              必須
            .km-form__container-half
              -# %input{class: "km-form-half", placeholder: "例) 山田"}
              = f.text_field :family_name, placeholder: "例) 山田", class: "km-form-half"
              -# %input{class: "km-form-half", placeholder: "例) 彩"}
              = f.text_field :last_name, placeholder: "例) 彩", class: "km-form-half"
          .km-form__container
            %label{class: "km-label"}
              お名前カナ(全角)
            .km-form-require
              必須
            .km-form__container-half
              -# %input{class: "km-form-half", placeholder: "例) ヤマダ"}
              = f.text_field :kana_family_name, placeholder: "例) ヤマダ", class: "km-form-half"
              -# %input{class: "km-form-half", placeholder: "例) アヤ"}
              = f.text_field :kana_last_name, placeholder: "例) アヤ", class: "km-form-half"
          .km-form__container
            %label{class: "km-label"}
              生年月日
            .km-form-require
              必須
            .km-birthday-select__container
              .select-wrap
                -# = fa_icon 'chevron-down', class: "km-select-arrow"
                -# %select.select{id: "", name: ""}
                -#   %option{value: ""} --
                -#   %option{value: ""} 002
                -#   %option{value: ""} 003
                = f.number_field :birth_year, class:"select"
              .km-select__info-text
                年
              .select-wrap
                -# = fa_icon 'chevron-down', class: "km-select-arrow"
                -# %select.select{id: "", name: ""}
                -#   %option{value: ""} --
                -#   %option{value: ""} 002
                -#   %option{value: ""} 003
                = f.number_field :birth_month, class:"select"
              .km-select__info-text
                月
              .select-wrap
                -# = fa_icon 'chevron-down', class: "km-select-arrow"
                -# %select.select{id: "", name: ""}
                -#   %option{value: ""} --
                -#   %option{value: ""} 002
                -#   %option{value: ""} 003
                = f.number_field :birth_day, class:"select"
              .km-select__info-text
                日
            .km-form__info-text
              ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          = recaptcha_tags
          .km-form__container
            .km-form__info-text              
              「次へ進む」のボタンを押すことにより、
              = link_to "" do
                利用規約
              に同意したものとみなします  
          .km-form__container
            -# = link_to step2_signup_index_path, class: "km-submit-next__btn btn-red" do
            -#   次へ進む
            = f.submit '次へ進む', class: "km-submit-next__btn btn-red"
          .km-form__container
            .km-form__info-text-right
              = link_to "" do
                本人情報の登録について
                = fa_icon 'chevron-right'
= render 'shared/km-footer'