.header__inner
  .header__inner__top
    =link_to root_path do
      =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?863303983" ,alt: "mercari", height: "36", width: "134"
    = form_tag(search_tops_path, :method => "get", class: 'header_search') do
      = text_field_tag :search ,"", class: "header_search_field", placeholder: "何かお探しですか？"
      = button_tag type: 'submit', class:"header_search_botton" do
        %i.fa.fa-search
  .header__inner__bottom.clearfix
    .header__inner__bottom--left
      =link_to "" ,class:"header__category" do
        = fa_icon 'list-ul', class: "left"
        %span カテゴリーから探す
      =link_to "" , class:"header__brand" do 
        = fa_icon 'tag', class: "left"
        %span ブランドから探す
    - if user_signed_in?
      = link_to user_path(current_user), method: :get, class:"header__inner__bottom--right" do
        = image_tag "member_photo_noimage_thumb.png", class: "km-avatar__img"
        .km-header__mypage-link-text
          マイページ
    - else
      .header__inner__bottom--right
        = link_to signup_path, method: :get, class: "header-btn-red" do
          新規登録
        = link_to new_user_session_path, method: :get, class: "header-btn-login" do
          ログイン