%header.header
  =render 'shared/top-header'
- breadcrumb :item_detail
= render 'shared/breadcrumbs'
.kw_item_detail
  .kw_item_detail__name
    = @item.name
  .kw_item_detail__main
    .kw_item_detail__main--photo__top
      - @item.images.each do |image|
        .item__content__image__top
          = image_tag "#{image.image_url}"
    -if @item.buyer_id.present? 
      .kw_item_detail__main__sold
        .kw_item_detail__main__sold__inner
          SOLD
    .kw_item_detail__sold
    %table.kw_item_detail__main--info
      %tr
        %th
          出品者
        %td
          .kw_item_detail__main--info--seller
            = link_to @item.user.nickname
          .kw_item_detail__main--info--smile
            = fa_icon 'smile-o'
          .kw_item_detail__main--info--number
            57
          .kw_item_detail__main--info--meh
            = fa_icon 'meh-o'
          .kw_item_detail__main--info--number
            1
          .kw_item_detail__main--info--frown
            = fa_icon 'frown-o'
          .kw_item_detail__main--info--number
            1
      %tr
        %th
          カテゴリー
        %td
          = link_to root_path do
            = @item.category.name
      %tr
        %th
          ブランド
        %td
          = link_to "#" do
            = @item.bland.name
      %tr
        %th
          商品の状態
        %td
          = @item.status
      %tr
        %th
          配送料の負担
        %td
          = @item.delivery_fee
      %tr
        %th
          配送の方法
        %td
          = @item.delivery_way
      %tr
        %th
          配送元地域
        %td
          = @item.prefecture.name
      %tr
        %th
          配送日の目安
        %td
          = @item.delivery_day
  .kw_item_detail__price
    .kw_item_detail__price--yen
      = "¥" + @item.price
    .kw_item_detail__price--tax
      (税込)
    .kw_item_detail__price--postage
      送料込み
  - if user_signed_in? && @item.user.id == current_user.id
    = link_to "商品の編集", edit_item_path, method: :get, class: 'red-btn'
    .kw_item_detail__or
    or
    = link_to "この商品を削除する", item_path(@item), method: :delete, class: "delete-btn"
  - else
    - unless @item.buyer_id.present? 
      = link_to "この商品を購入する", "/items/pay/#{@item.id}", method: :get, class: "red-btn"
  .kw_item_detail__explain
    = @item.explanation
  .kw_item_detail__button
    .kw_item_detail__button--left
      .kw_item_detail__button--left--like
        = fa_icon 'heart'
        いいね! 2 
      .kw_item_detail__button--left--report
        = fa_icon 'flag'
        不適切な商品の報告
    .kw_item_detail__button--right
      = fa_icon 'lock'
      あんしん・あんぜんへの取り組み
.kw_comment
  .kw_comment__message
    .kw_comment__message--icon
      = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", height: "50", width: "50"
      .kw_comment__message--name
        くわ
    .kw_comment__message--content
      こんばんは。
      使用回数1.２回とのことですが傷、汚れ等はございますか？
    .kw_comment__message--time
      = fa_icon 'clock-o'
      16時間前
    .kw_comment__message--flag
      = fa_icon 'flag'
  .kw_comment__caution
    相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
  .kw_comment__text
    <textarea rows="10" cols="76"></textarea>
  .kw_comment__button
    コメントする