.kw_item_detail
  .kw_item_detail__name
    神速Excel
  .kw_item_detail__main
    .kw_item_detail__main--photo__top
      =image_tag "https://static.mercdn.net/item/detail/orig/photos/m51261840710_1.jpg?1569317203", height: "300", width: "300"
    .kw_item_detail__main--photo__bottom
      =image_tag "https://static.mercdn.net/item/detail/orig/photos/m51261840710_1.jpg?1569317203", height: "60", widht: "60"
      =image_tag "https://static.mercdn.net/item/detail/orig/photos/m51261840710_2.jpg?1569317203", height: "60", widht: "60"
      =image_tag "https://static.mercdn.net/item/detail/orig/photos/m51261840710_3.jpg?1569317203", height: "60", widht: "60"
    .kw_item_detail__sold
    %table.kw_item_detail__main--info
      %tr
        %th
          出品者
        %td
          .kw_item_detail__main--info--seller
            くわ
          .kw_item_detail__main--info--smile
            = fa_icon 'smile-o'
          .kw_item_detail__main--info--number
            57
          .kw_item_detail__main--info--meh
            = fa_icon 'meh-o'
          .kw_item_detail__main--info--number
            1
          .kw_item_detail__main--info--frown
            = fa_icon 'frown-o'
          .kw_item_detail__main--info--number
            1
      %tr
        %th
          カテゴリー
        %td
          %a
            本・音楽・ゲーム
          %a
            >本
          %a
            >ビジネス・経済
      %tr
        %th
          ブランド
        %td
          
      %tr
        %th
          商品の状態
        %td
          未使用に近い
      %tr
        %th
          配送料の負担
        %td
          送料込み(出品者負担)
      %tr
        %th
          配送の方法
        %td
          らくらくメルカリ便
      %tr
        %th
          配送元地域
        %td
          岐阜県
      %tr
        %th
          配送日の目安
        %td
          2~3日で配送
  .kw_item_detail__price
    .kw_item_detail__price--yen
      ¥1,400
    .kw_item_detail__price--tax
      (税込)
    .kw_item_detail__price--postage
      送料込み
  .kw_item_detail__buy
    購入画面に進む
  .kw_item_detail__explain
    「神速Excel」
    中田元樹
    定価: ￥ 1,944
  .kw_item_detail__button
    .kw_item_detail__button--left
      .kw_item_detail__button--left--like
        = fa_icon 'heart'
        いいね! 2 
      .kw_item_detail__button--left--report
        = fa_icon 'flag'
        不適切な商品の報告
    .kw_item_detail__button--right
      = fa_icon 'lock'
      あんしん・あんぜんへの取り組み
.kw_comment
  .kw_comment__message
    .kw_comment__message--icon
      = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", height: "50", width: "50"
      .kw_comment__message--name
        くわ
    .kw_comment__message--content
      こんばんは。
      使用回数1.２回とのことですが傷、汚れ等はございますか？
    .kw_comment__message--time
      = fa_icon 'clock-o'
      16時間前
    .kw_comment__message--flag
      = fa_icon 'flag'
  .kw_comment__caution
    相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
  .kw_comment__text
    <textarea rows="10" cols="76"></textarea>
  .kw_comment__button
    コメントする